.detailedRecipe-section {
  display: flex;
  flex-direction: column;
}

.detailedRecipe-section > .detailedRecipeThumb-img {
}

.detailedRecipeTitle-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.detailedRecipeTitle-section > .shareAndFavBtn-section {
  margin: 0;
  width: 30%;
}

.shareAndFavBtn-section > .favBtn-input, .shareBtn-input {
  border-bottom: 1px solid #f94892;
  margin: 0 5% 5%;
  padding: 0 5% 5%;
  width: 30%;
}

.detailedRecipeTitle-section > .detailedRecipe-title {
  color: #f94892;
  font-size: 300%;
  margin: 5% 0 0;
}

.detailedRecipe-category {
  color: rgb(37, 37, 37);
  padding: 0 3%;
}

.ingredients-ul {
  border-top: 1px solid #a3a3a3;
  padding-top: 3%;
}

.recomendations-section {
  align-items: center;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.recomendation-section {
  margin: 3%;
  width: 100%;
}

.recomendationThumb-img {
  width: 250px;
}

.recipe-section__start-button {
  bottom: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
}
