.detailedRecipe-section {
  display: flex;
  flex-direction: column;
}

.detailedRecipe-section > .detailedRecipeThumb-img {
  border-bottom: 1px solid #a3a3a3;
}

.detailedRecipeTitle-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.detailedRecipeTitle-section > .shareAndFav-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 60%;
}

.shareAndFav-section > .shareAndFavBtn-section {
  display: flex;
  justify-content: flex-end;
}

.shareAndFavBtn-section > .favBtn-input, .shareBtn-input {
  border-bottom: 1px solid #ffa1c9;
  margin: 0 5% 5%;
  padding: 0 5% 5%;
  width: 30px;
}

.detailedRecipeTitle-section > .detailedRecipe-title {
  color: #f94892;
  font-size: 300%;
  margin: 5% 0 0;
}

.detailedRecipe-category {
  color: rgb(54, 54, 54);
  font-size: 120%;
  margin: 2% 0 5%;
  padding: 0 5%;
}

.ingredients-ul {
  border-top: 1px solid #a3a3a3;
  list-style: none;
  padding-top: 3%;
}

.ingredientsTitle-h2 {
  color: rgb(54, 54, 54);
  margin: 5% -8%;
  width: 100%;
}

.ingredient-li {
  color: rgb(54, 54, 54);
}

.ingredient-li:before {
  color: #ffa1c9;
  content: '\2022';
  display: inline-block;
  font-weight: 700;
  width: 1em;
}

.instructions-section {
  border-bottom: 1px solid rgb(218, 218, 218);
  border-top: 1px solid rgb(218, 218, 218);
  margin: 0 5% 8%;
  padding: 5%;
}

.instructionsTitle-h2 {
  color: rgb(54, 54, 54);
  margin: 0 -8% 2%;
}

.instructions-p {
  color: rgb(54, 54, 54);
  word-spacing: 6px;
}

.recipeTutorialVideo-iframe {
  height: 180px;
  margin: 0 auto;
  width: 90%;
}

.recomendationsTitle-h2 {
  color: rgb(54, 54, 54);
  margin: 0;
  padding: 2%;
}

.recomendations-section {
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-radius: 5% 5% 0 0;
  border-top: 1px solid rgb(190, 190, 190);
  display: flex;
  margin: 5% 5% 12%;
  overflow-x: scroll;
}

.recomendation-section {
  border-radius: 5px;
  margin: 2%;
  width: 100%;
}

.recomendationThumb-img {
  width: 220px;
}

.recomendationTitle-h3 {
  color: rgb(54, 54, 54);
}

.recomendationInfo-section > .recomendationInfo-p {
  color: rgb(97, 97, 97);
  font-size: 90%;
  margin: 5% 0;
}

.tutorialVideoTitle-h3 {
  color: rgb(54, 54, 54);
  margin: 0;
  padding: 0 2% 3%;
}

.startRecipeBtn-button {
  background-color: #f94892;
  border: 0;
  bottom: 0;
  color: white;
  font-size: 120%;
  padding: 5%;
  position: fixed;
  transition: all 0.1s ease-in-out 0s;
  width: 100%;
}
