.recomendations-section {
  align-items: center;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.recomendation-card {
  margin: 2%;
  width: 100%;
}

.recomendation-section__recipe-img {
  width: 250px;
}

.recipe-section__start-button {
  bottom: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
}
