.donePage {
  width: 100%;
}

.donePage .recipe-section {
  align-items: center;
  display: flex;
}

.donePage .recipes {
  border-radius: 25%;
  height: auto;
  justify-content: center;
  margin: 5% 2% 0;
}

.donePage .recipe-button {
  background-color: #f94892;
  border: 0;
  border-radius: 3px;
  box-shadow: 4px 4px 5px #bebebe;
  color: white;
  font-size: 90%;
  margin: 2%;
  padding: 8px;
  transition: all 0.1s ease-in-out 0s;
  width: 100px;
}

.donePage .recipe-img {
  border-radius: 5%;
  height: 150px;
  margin: 0 2% 0 0;
  width: 60%;
}

.donePage .recipeInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 0 0 4%;
  position: relative;
  width: 50%;
}

.donePage .recipeTitle {
  color: rgb(54, 54, 54);
  display: flex;
  margin: 5% 0 0;
  padding: 0 2% 3%;
}

.donePage .recipe-p {
  color: rgb(97, 97, 97);
  font-size: 80%;
  margin: 2% 0 5%;
}

.donePage .tagsTitle {
  color: rgb(97, 97, 97);
  font-size: 80%;
  margin: 0 0 2%;
}

.donePage .tag {
  color: rgb(97, 97, 97);
  font-size: 80%;
}

.donePage .shareAndFavBtn-section {
  display: flex;
  justify-content: flex-end;
}

.donePage .shareBtn-input {
  width: 30px;
}

.donePage .removeTextDecoration {
  text-decoration: none;
}
