.recipes {
  border-radius: 25%;
  height: 190px;
  justify-content: center;
  margin: 2% 2% 0;
}

.recipe-button {
  background-color: #f94892;
  border: 0;
  border-radius: 3px;
  box-shadow: 4px 4px 5px #bebebe;
  color: white;
  font-size: 90%;
  margin: 2%;
  padding: 8px;
  transition: all 0.1s ease-in-out 0s;
  width: 100px;
}

.recipe-img {
  border-radius: 5%;
  height: 150px;
  width: 50%;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 0 0 4%;
  position: relative;
  width: 50%;
}

.recipeTitle {
  color: rgb(54, 54, 54);
  display: flex;
  margin: 5% 0 0;
  padding: 0 2% 3%;
}

.recipe-p {
  color: rgb(97, 97, 97);
  font-size: 80%;
  margin: 2% 0 5%;
}

.favoritePage .shareAndFavBtn {
  display: flex;
  justify-content: flex-end;
}

.favoritePage .shareBtn-input, .favoritePage .favBtn-input {
  width: 25px;
}

.removeTextDecoration {
  text-decoration: none;
}
