.container-profile {
  text-align: center;
}

.profile-h1 {
  background-color: white;
  border: 1px solid #bebebe;
  border-radius: 3px;
  bottom: 0;
  color: #f94892;
  cursor: pointer;
  display: block;
  font-style: italic;
  margin: 0;
  padding: 5% 20%;
  transition: all 0.2s ease-in-out 0s;
}

.container-image-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-email {
  color: rgb(54, 54, 54);
  padding: 0 0 6%;
}

.image-profile {
  border: 1px solid rgb(120, 120, 120);
  border-radius: 100%;
  margin-top: 30px;
  padding: 10px;
  width: 30vw;
}

.profile-button {
  background-color: #f94892;
  border: 0;
  border-radius: 3px;
  box-shadow: 4px 4px 5px #bebebe;
  color: white;
  font-size: 100%;
  font-weight: 900;
  height: 8vh;
  margin: 2%;
  margin-top: 20px;
  padding: 2px;
}

.button-logout {
  background-color: white;
  border: 1px solid #f94892;
  border-radius: 3px;
  box-shadow: 4px 4px 5px #bebebe;
  color: rgb(54, 54, 54);
  font-size: 100%;
  font-weight: 900;
  height: 8vh;
  margin: 2%;
  margin-top: 20px;
  padding: 5px;
}

