.header, .footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  transition: all 0.2s ease-in-out 0s;
  width: 100%;
}

.header {
  color: #f94892;
  font-size: 120%;
  transition: all 0.2s ease-in-out 0s;
}

.header-h1 {
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 2px;
  transition: all 0.2s ease-in-out 0s;
}

.header__search-input {
  border: 1px solid #f94892;
  outline: none;
  padding: 5%;
  transition: all 0.2s ease-in-out 0s;
  width: 90%;
}

.header__search-input:-webkit-autofill, .header__search-input:-webkit-autofill:hover {
  border: 1px solid #f94892;
  outline: none;
  padding: 5%;
  transition: all 0.2s ease-in-out 0s;
  width: 90%;
}

.header__search-input:-webkit-autofill:focus {
  border: 1px solid #f94892;
  outline: none;
  padding: 5%;
  transition: all 0.2s ease-in-out 0s;
  width: 90%;
}

.header__search-input:-webkit-autofill:active {
  border: 1px solid #f94892;
  outline: none;
  padding: 5%;
  transition: all 0.2s ease-in-out 0s;
  width: 90%;
}

.footer {
  background-color: white;
  border-radius: 50px 50px 0 0;
  border-top: 1px solid rgb(90, 90, 90);
  bottom: 0;
  padding-top: 2%;
  position: fixed;
  transition: all 0.2s ease-in-out 0s;
}

.footer-button {
  background-color: inherit;
  border: none;
  padding: 3%;
  transition: all 0.2s ease-in-out 0s;
}

.activePage-footer-button {
  background-color: inherit;
  border: 0;
  border-bottom: 3px solid #f94892;
  padding: 3%;
  transition: all 0.2s ease-in-out 0s;
}
